@font-face {
    font-family: "Freesentation-4Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
}

body {
    font-family: "Freesentation-4Regular";
    background-color: #1a1a1a;
    font-size: 24px;
    box-sizing: border-box;
}
